# Cleaning Data - Midterm
## The Midterm is due by midnight on 10/10/2022.  The python skills you learned you can use to clean a dataset.  If you get a job in Data science you will need to clean the data.  If you have any questions, please email me through Canvas or joellen.green@fresnocitycollege.edu.

### One the basic data science tasks is cleaning data.  In this assignment you will learn to clean a data set.  This is the midterm for the DS 10 Introduction to Data Science course.

You will use the chronic kidney disease dataset from the University of California, Irvine data science repositary. You will run the code cell below to use the Table functions to help you out.

In [ ]:
import numpy as np
from datascience import *

# These lines set up graphing capabilities.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import pandas as pd

## In this assignment you will clean a dataset using the Python tools learn thus far.
<br>
Attribute Information:<br>
We use the following representation to collect the dataset<br>
- age - age in years (numerical)<br>
- bp - blood pressure in mm/Hg (numerical)<br>
- sg - specific gravity sg (1.005, 1.010, 1.020, 1.025) (nominal)<br>
- al - albumin (0, 1, 2, 3, 4, 5) (ordinal)<br>
- su - sugar (0, 1, 2, 3, 4, 5) (ordinal)<br>
- rbc - red blood cells (normal, abnormal)(nominal)<br>
- pc - pus cell (normal, abnormal) (nominal)<br>
- pcc - pus cell clumps (present, notpresent) (nominal)<br>
- ba - bacteria (present, notpresent) (nominal)<br>
- bgr - blood glucose random mgs/dl (numerical)<br>
- bu - blood urea mgs/dl (numerical)<br>
- sc - serum creatinine mgs/dl (numerical)<br>
- sod - sodium mEq/L (numerical)<br>
- pot - potassium mEq/L (numerical)<br>
- hemo - hemoglobin gms (numerical)<br>
- pcv - packed cell volume (numerical)<br>
- wc - white blood cell count (cells/cumm) (numerical)<br>
- rc - red blood cell count millions/cmm (numerical)<br>
- htn - hypertension (yes, no) (nominal)<br>
- dm - diabetes mellitus (yes, no) (nominal)<br>
- cad - coronary artery disease (yes, no) (nominal)<br>
- appet - appetite (good, poor) (nominal)<br>
- pe - pedal edema (yes, no) (nominal)<br>
- ane - anemia (yes, no) (nominal)<br>
- classification - class (ckd, notckd) (nominal)<br>
<br>
**Knowing the data types is very important**<br>
- (nominal) - label with no numerical order<br>
- (ordinal) - label with numberical order<br>
- (interval) - numerical with no real 0 (0 means nothing)<br>
- (ratio) - numerical with a real 0 (0 means nothing)<br>

In [ ]:
filename = 'kidney_disease.csv'
kidney_disease = Table.read_table(filename)
kidney_disease

**Question 1** Change the labels to the full name<br>
Hint: change bp to blood pressure.  Use kidney_disease.relabel

In [ ]:
kidney_diseae = kidney_disease.relabel(make_array('bp', 'sg'),
  make_array('blood_pressure', 'specific_gravity'))
kidney_disease

### Create an array called old_names of variables names from al to ane.  Then created an array called new_names.  Finally use the relabel method to change the variable names.

In [ ]:
old_names = ...
new_names = ...
kidney_disease =
kidney_disease

### To get additional information about the data we will convert the data to a Pandas dataframe and apply the info() method.

In [ ]:
chronic_kidney_disease = kidney_disease.to_df()  # pandas dataframe
chronic_kidney_disease.info()

## the info method gives you information about the dataset
- There are missing values nan indicates a missing value
- Also notice the type of data that python has set each variables
- Age has 400 - 391 = 9 missing values
- blood_pressure has 400 - 388 = 12 missing values
- specific_gravity has 400 - 353 = 47 missing values

**Question 2** Determine the missing values for each variable based on the values above. Create an array called no_of_missing_values and list the number of missing values starting from variable age to anemia.

In [ ]:
no_of_missing_values = ...

### We will change the nan to a numpy missing value NaN

In [ ]:
#Change the nan to missing values np.nan
chronic_kidney_disease = chronic_kidney_disease.replace(["nan"], np.nan)
chronic_kidney_disease

**Question 3** Change the packed cell volume to float
Hinit: Use the following code

In [ ]:
chronic_kidney_disease['packed_cell_volume'] = chronic_kidney_disease['packed_cell_volume'].astype(float)
chronic_kidney_disease.info()

In [ ]:
## The error indicates that there is '\t?' in one of the fields find the record and then replace it with np.nan.
Use the kidney_disease Table and where method to locate the record where packed_cell_volume is equal to '\t?'

In [ ]:
kidney_disease.where('packed_cell_volume', are.equal_to('\t?'))

### Use the chronic_kidney_disease dataframe to replace the '\t?' with np.nan 
### Hint: Use replace code above in Question 2

In [ ]:
....

**Question 3** Continue to change the packed_cell_volume, white_blood_cell_count, and red_blood_cell_count to float datatypes.  If there is a problem fix it by changing the str to a np.nan.